* {
	font-family: 'Roboto', sans-serif !important;
}

body, html {
	background: #eee;
	margin: 0px;
	padding: 0px !important;
}

.detail-bg {
	background: white !important;
}

.grey-bg {
	background: #eee !important;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	margin-top: 20px;
	font-size: 1.2em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 2em;
}

a {
	color:#000;
}

a:hover {
	color:#0c1923;
}

p {
	margin-bottom: 0px !important;
}

ul {
	margin-bottom: 0px !important;
}

@media screen and (max-width: 39.9375em) {
	.grid-container, .detail-card-bg {
		padding: 0 !important;
	}
}

.detail-card-bg {
	background: #eee;
	padding: 0 2rem 2rem 2rem;
}

#task-image {
	width: 100%;
	object-fit: cover;
}

.top-bar, .dropdown, #main-menu {
	background-color: #699bc4 !important;
	color: #fff;
}

.top-bar a {
	color: #fff;
}

.maincontainer {
	background-color: white;
	padding: 0 2rem 2rem 2rem;
	margin-bottom: 2rem;
}

.contentcontainer {
	padding: 20px;
}

.description-container {
	background-color: #699bc4;
	color: #fff;
	padding: 1rem;
}

.task-info {
	margin: 5px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.name {
	font-size: 2.5em !important;
	text-align: center !important;
	margin: 0px;
}

.slogan {
	font-size: 1.2em !important;
	text-align: center !important;
}

.phone {
	position: relative;
	margin: 1rem;
    width: 240px;
    height: 500px;
    background-image: url(../img/smartphoneborder.png);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto
}

.presentmedia-container {
    position: absolute;
    top: 43px;
    left: 8px;
    background: #FFF;
    width: 224px;
    height: 398px;
}

#task-milestone-container p {
	margin: 0;
}
#task-milestone-container ul {
	list-style-type: none !important;
}
#task-milestone-container li {
	margin: 0;
	padding: 0;
	max-height: 40px;
	min-height: 40px;
	height: 40px;
}

#profile-image {
	border-radius: 50%;
	border: 3px solid #699bc4;
	width:100px;
	height: 100px;
}

.comment {
	margin-bottom: 1rem;
	font-size: 1rem;
}

.comment-text {
	background-color: white;
	padding: 1rem;
	border-radius: 1rem;
}

.comment-footer {
	padding: 1rem;
	text-align: right;
	font-size: 0.85rem;
}

.comment-created-time {
	display: none;
}

.comment-profile-image {
	padding-right: 1rem;
}

.comment-profile-image img {
	border-radius: 50%;
	width: 100px;
}

#profile-image-wrapper {
	padding-top: 1rem !important;
}

#profile-image-wrapper, #long-task-description-wrapper, #task-milestone-wrapper, #task-comment-wrapper {
	padding: 0 1rem 0 1rem;
}

hr {
	height: 1px;
	background: #699bc4;
	border: 0;
}

.download-pigdo {
	margin: 1rem 0 1rem 0;
	background-color: #4682b4;
	border-radius: 10px;
	width: 100%;
}

.card {
	border: 1px solid #b2cce1;
}
.card img {
	object-fit: cover !important;
}
.card-section-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 23px;
	border: 2px solid #699bc4;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-right: 1rem;
}
.social-icon i {
	color: #4682b4;
}
.social-icon:last-child {
	margin-right: 0;
}

.callout-center {
	margin: 0 auto;
	margin-bottom: 2rem;
}